.root {
    :global {
        .invite-wrap {
            position: relative;
            overflow: hidden;
            @include background_color("bgColor1");
            .invite-title {
                text-align: center;
                font-size: 42px;
                @include font_color("fontColor1");
            }
            .invite-content {
                padding: 90px;
                
                .invite-big-title {
                    text-align: center;
                    font-size: 72px;
                    color: $blue;
                }
                .invite-info {
                    text-align: center;
                    font-size: 43px;
                    color: $blue;
                }
                .invite-tip {
                    font-size: 40px;
                    @include font_color("fontColor1");
                }
                .invite-copy {
                    margin: 30px 0 130px;
                    width: 900px;
                    height: 150px;
                    border-radius: 20px;
                    line-height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $inputBg;
                    padding: 0 20px;
                    font-size: 36px;

                    span {
                        width: 800px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    white-space: nowrap;

                    }
                    img {
                        width: 62px;
                        height: 62px;
                    }
                }
                .bg {
                    width: 902px;
                    height: 599px;
                    display: block;
                    margin: 140px auto 70px;
                }
                .invite-reward {
                    font-size: 36px;
                    @include font_color("fontColor2");
                }
            }
        }
    }
}
