.root {
  :global {
    .article-content {
      overflow: hidden;
      line-height: 50px;
      max-height: 300px;
      // font-size: 36px!important;
      // line-height: 50px!important;
      &.extend {
        max-height: max-content;
      }
    }
    .btn-article-more {
      text-align: center;
      font-size: 36px;
      color: $blue;
    }
  }
}
