.root {
    :global {
        .msg-wrap {
            .msg-item {
                position: relative;
                display: flex;

                font-size: 38px;
                padding: 64px 45px;
                @include border("bottom");
                text-align: justify;
                word-break: break-all;
                .left {
                    position: relative;
                    width: 84px;
                    img {
                        width: 52px;
                        height: 52px;
                    }
                    .dot {
                        position: absolute;
                        right: 30px;
                        top: 0;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        background-color: $down;
                    }
                }
                .right {
                    flex: 1;
                    .title {
                        font-size: 44px;
                        font-weight: 600;
                        @include font_color("fontColor1");
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 863px;
                    }
                    .content {
                        width: 863px;
                        max-height: 150px;

                        font-size: 36px;

                        // height: 250px;
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;

                        @include font_color("fontColor2");
                    }
                    .time {
                        font-size: 36px;

                        @include font_color("fontColor2");
                    }
                }
            }
        }
    }
}
