.root {
  :global {
    .position-wrap {
      position: relative;
      margin-top: 30px;
      .btn-option {
        height: 90px;
        line-height: 90px;
        border-radius: 10px;
        min-width: 200px;
        padding: 0 34px;
        font-size: 34px;
        text-align: center;

        @include background_color("bgColor2");
        @include font_color("fontColor1");
      }
      .position-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: sticky;
        top: 0;
        .part-left {
        }
        .part-right {
        }
      }
      .position-info {
        &_item {
          position: relative;
          padding: 46px 0;
          &:not(:last-child) {
            @include border("bottom");
          }
          .info-part {
            flex: 1;
            font-size: 32px;

            &.text-right {
              text-align: right;
            }
            .info-top {
              @include font_color("fontColor2");
            }
            .info-bottom {
              @include font_color("fontColor1");
              &.percent-reward {
                font-size: 56px;
              }
            }
          }
          .s {
            color: $up !important;
          }
          .f {
            color: $down !important;
          }
          .top {
            font-size: 38px;
            line-height: 60px;
            display: flex;
            align-items: center;
            @include font_color("fontColor1");
            padding-bottom: 15px;

            .b-s {
              font-size: 30px;
              line-height: 50px;
              padding: 0 10px;
              color: $fontWhite;
              margin-right: 20px;

              &.buy {
                background-color: $up;
              }
              &.sell {
                background-color: $down;
              }
            }
            .symbol {
              margin-right: 20px;
              font-weight: 600;
            }
            .orderType {
              margin-right: 20px;
            }
            .position {
              font-size: 30px;
              @include font_color("fontColor2");
              margin-right: 20px;
            }
            .lever {
              font-size: 30px;

              @include font_color("fontColor2");
            }
          }

          .second {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
          }

          .count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
          }
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
          }
          .btn-part {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
