.root {
    :global {
        .record-item {
            display: flex;
            justify-content: space-between;
            font-size: 38px;
            padding: 64px 45px;
            &_left {
                .item-top {
                    font-size: 46px;
                    font-weight: 600;
                    @include font_color("fontColor1");
                    .account-type {
                        margin-left: 20px;
                        @include font_color("fontColor2");
                        font-size: 32px;
                    }
                }
                .item-b {
                    font-size: 38px;
                    font-weight: 600;
                    @include font_color("fontColor2");
                }
            }
            &_right {
                text-align: right;
                .item-top {
                    font-size: 44px;
                    font-weight: 500;
                    @include font_color("fontColor1");
                }
                .item-b {
                    font-size: 38px;
                    font-weight: 600;
                    @include font_color("fontColor2");
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .dot {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 20px;
                    &_s {
                        background-color: $up;
                    }
                    &_f {
                        background-color: $down;
                    }
                }
            }
        }
    }
}
