.root {
  :global {
    .priceMid {

      padding: 35px 22px 11px;
      display: flex;
      justify-content: space-between;

      @include background_color("bgColor1");
      overflow: scroll;
      width: 1081px;
      height: 224px;
      .item-wrap {
        margin: 10px;

        flex-basis: 344px;
        flex-shrink: 0;
        overflow: scroll;
        .top {
          display: flex;
          font-size: 34px;

          .coin {
            @include font_color("fontColor1");
          }
          .baseCoin {
            font-size: 30px;
            @include font_color("fontColor2");
          }

          .raise {
            margin-left: 10px;
          }
        }
        .center {
          font-size: 48px;
        }
        .bottom{
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
