.root {
    :global {
        .lend-wrap {
            position: relative;
            overflow: hidden;
            @include background_color("bgColor1");
            // padding: 50px 46px;

            .lend-title {
                text-align: center;
                font-size: 50px;
                @include font_color("fontColor1");
            }
            
            .lend-content {
                padding: 50px 46px;
                overflow: scroll;

                height: calc(100vh - 250px - env(safe-area-inset-bottom));
                .balance {
                    font-size: 50px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .lend-label {
                font-size: 42px;
                margin: 45px 0;
                @include font_color("fontColor2");
            }
            .lend-interest_info {
                @include font_color("fontColor1");
                @include background_color("bgColor2");
                border-radius: 40px;
                padding: 20px 60px;
                .info-item {
                    padding: 40px 0;
                    font-size: 38px;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .btn-next {
                height: 130px;
                line-height: 130px;
                font-size: 50px;
                color: $fontWhite;
                background-color: $blue;
                text-align: center;
                border-radius: 20px;
                margin: 60px 60px;
                &.no-active {
                    @include background_color("bgColor2");
                    @include font_color("fontColor1");
                }
            }
            .lend-USDT {
                padding-right: 40px;
                font-weight: 600;
                font-size: 46px;
                @include font_color("fontColor1");
            }
            .select-input {
                height: 120px;
                border-radius: 20px;
                padding: 0 44px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include background_color("bgColor2");
                .left {
                    font-size: 46px;
                    @include font_color("fontColor1");
                }
                img {
                    width: 21px;
                    height: 33px;
                }
            }
            .lend-risk_tip {
                margin: 40px 0;
                font-size: 38px;
                @include font_color("fontColor1");
                display: flex;
                align-items: center;
                input {
                    margin-right: 20px;
                }
            }
        }
    }
}
