.root {
    :global {
        .lend-wrap {
            position: relative;
            overflow: hidden;
            @include background_color("bgColor1");
            // padding: 50px 46px;

            .lend-title {
                text-align: center;
                font-size: 50px;
                @include font_color("fontColor1");
            }
            .lend-content {
                padding: 50px 46px;
            }
            .lend-label {
                font-size: 42px;
                margin: 45px 0;
                @include font_color("fontColor2");
            }
            .upload-part {
                margin: 40px 0;
                display: flex;
                justify-content: space-between;
            }
            .btn-next {
                height: 130px;
                line-height: 130px;
                font-size: 50px;
                color: $fontWhite;
                background-color: $blue;
                text-align: center;
                border-radius: 20px;
                margin: 120px 60px;
            }
            .lend-USDT {
                padding-right: 40px;
                font-weight: 600;
                font-size: 46px;
                @include font_color("fontColor1");
            }
            .select-input {
                height: 120px;
                border-radius: 20px;
                padding: 0 44px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include background_color("bgColor2");
                .left {
                    font-size: 46px;
                    @include font_color("fontColor1");
                }
                img {
                    width: 21px;
                    height: 33px;
                }
            }
        }
    }
}
