.root {
  position: absolute;
  :global {
    .select-wrap {
      @include font_color("fontColor1");
      position: fixed;
      bottom: 0;
      border-radius: 40px 40px 0 0;
      z-index: 999;
      .select-item {
        height: 140px;
        padding: 0 40px;
      }
      .select-list {
        @include border("bottom");
      }
    }
  }
}
