.root {
    :global {
        .kLine-wrap {
            position: relative;
            overflow: hidden;

            // padding: 50px 46px;
            .nav-wrap {
                position: relative;
                display: flex;
                padding: 0 44px;
                height: 80px;
                align-items: center;
                font-size: 52px;
                height: 150px;
                @include font_color("fontColor1");
                .content {
                    display: flex;
                    justify-content: center;
                    flex: 1;
                    .search {
                        width: 63px;
                        height: 51px;
                    }

                    .coinPart {
                        // height: 50px;
                        line-height: 50px;
                        margin-left: 32px;
                    }

                    .nav-right {
                        position: absolute;
                        right: 0;
                        width: 46px;
                        height: 46px;
                    }
                }
            }
            .kLine-title {
                text-align: center;
                font-size: 50px;
                @include font_color("fontColor2");
            }

            .kLine-content {
                @include background_color("bgColor1");
                height: calc(100vh - 350px - env(safe-area-inset-bottom));
                overflow: auto;
                padding: 0 0 0;
                border-radius: 50px 50px 0 0;
                .tradeView {
                    min-height: 910px;
                    width: 100vw;
                }
                .depth-wrap {
                    padding-top: 30px;
                    @include background_color("bgColor2");
                }
            }
            .btn-wrap {
                position: fixed;
                bottom: 0;
                height: 130px;
                width: calc(100vw - 140px - env(safe-area-inset-bottom));
                padding: 35px 70px;
                display: flex;
                justify-content: space-between;
                z-index: 10;
                @include background_color('bgColor1');
                .btn-item {
                    line-height: 130px;
                    height: 130px;
                    width: 460px;
                    border-radius: 10px;
                    color: $fontWhite;
                    font-size: 40px;
                    text-align: center;
                    &.btn-buy {
                        background-color: $up;
                    }
                    &.btn-sell {
                        background-color: $down;
                    }
                }
            }
        }
    }
}
