$themes: (
  light: (
    bgColor1: #fff,
    bgColor2: #f4f4f6,
    fontColor1: #000000,
    fontColor2: #9096a1,
  ),
  dark: (
    bgColor1: #000,
    bgColor2: #141414,
    fontColor1: #ffffff,
    fontColor2: #666666,
  ),
);
