@import './var.scss';

$themes: (
  light: (
    bgColor1: $white,
    bgColor2: #f4f4f6,

    fontColor1: $black,
    fontColor2: #9096a1,
    priceBarBgUp: #e9f7f2,
    priceBarBgDown: #faebeb,
  ),
  dark: (
    bgColor1: $black,
    bgColor2: #141414,
    fontColor1: $white,
    fontColor2: #666666,

    priceBarBgUp: #1c2624,
    priceBarBgDown: #291b20,
  ),
);
