.root {
    :global {
        .quota-wrap {
            position: relative;
            overflow: hidden;
            .input-bg {
                width: 949px;
                height: 100px;

                background-color: $inputBgQuota;
                padding: 0 48px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: left;
                margin: 44px 44px 0;
                img {
                    width: 47px;
                    height: 47px;
                    margin-right: 24px;
                }
                .text {
                    font-size: 40px;
                    @include font_color('fontColor2');
                }
            }
        }
        .coinList {
            @include background_color("bgColor1");

            padding: 50px 46px;
            border-radius: 50px 50px 0 0;
            height: calc(100vh - 554px - env(safe-area-inset-bottom));
            overflow: auto;
        }
    }
}
