.root {
    @include background_color("bgColor1");

    :global {
        .depth-content {
            position: relative;
            overflow: hidden;
            .depth-bar {
                padding: 10px 40px;

                .depth-top {
                    height: 120px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 38px;
                    align-items: center;
                    @include font_color("fontColor2");
                }
                .depth-buttom {
                    height: 690px;
                    display: flex;
                }
                .depth-part {
                    width: 50%;
                    .price-bar_wrap {
                        height: 300px;
                    }
                }
            }
            .deal-content {
                padding: 70px 40px;
                font-size: 36px;
                @include font_color("fontColor2");

                .deal-part {
                    display: flex;

                    .deal-item_wrap {
                        display: flex;

                        width: 100%;
                        flex-shrink: 0;
                        .left {
                            flex: 1;
                        }
                        .center {
                            flex: 1;
                            &.buy {
                                color: $up;
                            }
                            &.sell {
                                color: $down;
                            }
                        }
                        .right {
                            flex: 1;
                            justify-content: flex-end;
                            text-align: right;
                        }
                    }
                }

                .deal-top {
                    display: flex;
                }
                .deal-bottom {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .coin-info {
                padding: 40px;

                .item-info {
                    display: flex;
                    justify-content: space-between;
                    font-size: 44px;
                    padding: 30px 0;
                    .left {
                        @include font_color("fontColor2");
                        &.part-logo {
                            display: flex;
                            font-size: 44px;
                            @include font_color("fontColor1");

                            img {
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                margin-right: 20px;
                            }
                            span {
                            }
                        }
                    }
                    .right {
                        @include font_color("fontColor1");
                    }
                    .introduce {
                        @include font_color("fontColor1");
                        font-size: 36px;
                    }
                }
            }
        }
    }
}
