.root {
position: relative;
overflow: hidden;
  :global {
    .tabs {
      position: relative;
      display: flex;
      @include font_color("fontColor2");
      overflow: auto;
      flex-wrap: nowrap;
      height: 98px;
      width: 1040px;
      border: 1px solid $boder;
      margin: 40px auto 0;
      border-radius: 20px;

      .tab {
        flex: 1;
        height: 98px;
        width: 520px;
        line-height: 98px;

        text-align: center;
        font-size: 42px;

        // flex-grow: 0;
        // flex-shrink: 0;
        @include font_color("fontColor2");

        &.active {
          font-size: 44px;
          font-weight: bold;
          @include font_color("fontColor1");
          @include background_color("bgColor1");
        }
      }
    }
  }
}
