.root {
  :global {
    .address-wrap {
      height: 100vh;
      width: 100%;

      @include background_color("bgColor1");
      @include font_color("fontColor1");

      overflow-y: scroll;
      .record {
        width: 40px;
        height: 48px;
      }
      .address-content {
        padding: 0 40px;

        .tip {
          margin-top: 60px;
          font-size: 80px;
        }

        .qrcode {
          display: block;
          margin: 160px auto 0;
          width: 490px;
          height: 490px;
          padding: 10px;
          background-color: $white;
        }
        .qrtip {
          padding: 30px 0 60px;
          font-size: 38px;
          text-align: center;
          position: relative;
          margin-bottom: 60px;
          @include border("bottom");
          .tip1 {
            margin-top: 30px;
          }
          .tip2s {
            margin: 30px 0 0;
          }
          // ::after {
          //   position: absolute;
          //   content: " ";
          //   width: 790px;
          //   height: 1px;
          //   bottom: 0;
          //   left: 0;
          //   background-color: $boder;
          //   transform: scale(1, 0.5);
          // }
        }
        .address-text {
          font-size: 40px;
          @include font_color("fontColor2");
        }
        .address-part {
          width: 960px;
          height: 170px;
          margin: 30px auto 65px;
          padding: 40px;
          text-align: left;
          border-radius: 20px;
          word-break: break-all;

          @include background_color("bgColor2");
          @include font_color("fontColor1");
          font-size: 44px;
        }
        .address-chain {
          width: 960px;

          margin: 30px auto 65px;
          padding: 40px;
          text-align: left;
          border-radius: 20px;
          @include background_color("bgColor2");
          @include font_color("fontColor1");
          font-size: 44px;
        }
        .btn {
          margin: 30px auto 0;
          width: 1036px;
          border-radius: 20px;
          font-size: 50px;
          height: 130px;
          line-height: 130px;
          color: $fontWhite;
          font-weight: 600;
          background-color: $blue;
          text-align: center;
        }
      }
    }
  }
}
