.root {
    :global {
        .message-wrap {
            position: relative;
            overflow: hidden;
            @include background_color("bgColor1");
            // padding: 50px 46px;

            .message-content {
                height: calc(100vh - 250px - env(safe-area-inset-bottom));
                overflow: auto;
                margin: 0 44px;

                // width: 100%;
            }
        }
    }
}
