.root {
  :global {
    .article {
      position: relative;
      @include background_color("bgColor1");
      padding: 40px;
      .article-item {
        position: relative;
        padding: 80px 80px;

        @include border("top");
        .title {
          font-size: 44px;
          font-weight: 600;
          @include font_color("fontColor1");
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 863px;
        }
        .content {
          width: 863px;
          font-size: 36px;

          // height: 250px;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;

          @include font_color("fontColor2");
        }
        .time {
          margin:  35px 0 60px;
          font-size: 36px;
          @include font_color("fontColor2");
        }
      }
    }
  }
}
