.root {
  :global {
    .article {
      position: relative;
      @include background_color("bgColor1");
      padding: 40px;
      .article-item {
        position: relative;
        padding: 40px 40px 80px;

        @include border("bottom");
        text-align: justify;

        word-break: break-all;
        .title {
          font-size: 44px;
          font-weight: 600;
          @include font_color("fontColor1");
          // word-break:
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          // width: 863px;
          > span,
          p,
          div {
            @include font_color("fontColor1");
          }
        }
        .content {
          // width: 863px;

          word-break: break-all;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 3;

          @include font_color("fontColor2");
        }
        .time {
          margin: 35px 0 60px;
          font-size: 36px;
          @include font_color("fontColor2");
        }
        .emotion {
          line-height: 100px;
          display: flex;

          .emotion-item {
            display: flex;
            font-size: 36px;
            align-items: center;
            padding-right: 30px;
            @include font_color("fontColor2");

            span {
              margin-right: 10px;
            }
            img {
              width: 30px;
              height: 40px;
            }
          }
        }
      }
      .acticle-title {
        position: relative;
        font-size: 42px;
        font-weight: 600;
        @include font_color("fontColor1");
        padding-bottom: 40px;
        @include border("bottom");
      }
    }
  }
}
