.root {
  :global {
    .home-wrap {
      padding: 0 0 44px 0;
      @include background_color("bgColor1");

      .home-top {
        display: flex;
        justify-content: space-between;
        padding: 44px 44px 37px;
        position: sticky;
        top: 0;
        z-index: 8;
        @include background_color("bgColor1");

        .left {
          display: flex;
          img {
            width: 93px;
            height: 93px;
            margin-right: 39px;
          }
          .input-bg {
            width: 481px;
            height: 101px;
            border-radius: 10px;
            background-color: $inputBg;
            padding: 0 48px;
            display: flex;
            align-items: center;
            justify-content: left;
            img {
              width: 47px;
              height: 47px;
              margin-right: 24px;
            }
            .text {
              font-size: 40px;
              @include font_color(fontColor2);
            }
          }
          .assets-tab {
            display: flex;
            .assets-tab-item {
              font-size: 42px;
              width: 300px;
              height: 100px;
              line-height: 100px;
              text-align: center;
              border-radius: 20px;
              @include font_color("fontColor2");

              @include background_color("bgColor2");
              &.blue {
                color: $fontWhite;
                background-color: $blue;
              }
              margin-right: 10px;
            }
          }
        }
        .right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .msg {
            position: relative;
            width: 52px;
            height: 52px;
            img {
              width: 100%;
              vertical-align: top;
            }
            .tip-num {
              position: absolute;
              top: -20px;
              left: 30px;
              font-size: 20px;
              background-color: $yellow;
              border-radius: 20px;
              padding: 0 10px;
            }
          }
          .theme {
            width: 49px;
            height: 52px;
            margin: 0 50px;
          }
          .chat {
            width: 51px;
            height: 54px;
          }
        }
      }
      .home-banner {
        padding: 0 44px 0 44px;

        img {
          width: 100%;
        }
      }
      .home-msg {
        display: flex;
        padding-top: 28px;
        font-size: 36px;
        margin: 0 44px;

        .msg {
          width: 73px;
          height: 73px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          img {
            width: 48px;
            height: 48px;
          }
        }

        .msg-notify {
          width: 900px;
          overflow: hidden;
          line-height: 73px;
          white-space: nowrap;
          height: 73px;
          text-overflow: ellipsis;

          @include font_color("fontColor1");
        }
      }
      .home-btns {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .btn-item {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 60px 0;
          img {
            width: 100px;
            height: 100px;
          }
          .btn-label {
            font-size: 36px;
            margin-top: 10px;
            @include font_color("fontColor1");
          }
        }
      }
      .vip {
        width: 1046px;
        height: 231px;
        background-image: url("@/assets/kf.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
      }
    }

    .quota {
      padding: 44px;
      min-height: 600px;
      @include background_color("bgColor1");
    }
  }
}
