.root {
    :global {
        .withdrawal-wrap {
            position: relative;
            overflow: hidden;
            @include background_color("bgColor1");
            // padding: 50px 46px;
            .record {
                width: 40px;
                height: 48px;
                
            }
            .withdrawal-usdt {
                font-size: 44px;
                padding-right: 40px;
                @include font_color("fontColor2");
            }
            .withdrawal-title {
                text-align: center;
                font-size: 50px;
                @include font_color("fontColor1");

            }
            .withdrawal-content {
                padding: 0 46px;
                height: calc(100vh - 150px - env(safe-area-inset-bottom));
                overflow: auto;
            }
            .withdrawal-label {
                font-size: 42px;
                margin: 98px 0 36px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include font_color("fontColor2");
            }
            .upload-part {
                margin: 40px 0;
                display: flex;
                justify-content: space-between;
            }
            .content-label {
                display: flex;
                justify-content: space-between;
                font-size: 38px;
                line-height: 160px;
                .left {
                    @include font_color("fontColor2");
                }
                .right {
                    display: flex;
                    @include font_color("fontColor1");
                }
            }
            .btn-next {
                height: 130px;
                line-height: 130px;
                font-size: 50px;
                color: $fontWhite;
                background-color: $blue;
                text-align: center;
                border-radius: 20px;
                margin: 120px 60px;
            }
            .choose-chain {

      
                margin: 30px auto 65px;
                padding: 40px;
                text-align: left;
                border-radius: 20px;
                @include background_color("bgColor2");
                @include font_color("fontColor1");
                font-size: 44px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 21px;
                    height: 32px;
                }
              }
        }
    }
}
