.root {
    :global {
        .order-wrap {
            padding: 40px 0;
            @include border("bottom");

            .order-item {
                position: relative;
                display: flex;

                font-size: 38px;
                line-height: 80px;
                justify-content: space-between;
                margin: 20px 0;
                .left {
                    @include font_color("fontColor2");
                    width: 160px;
                    padding-right: 20px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    &.top {
                        font-size: 42px;
                    }
                }
                .right {
                    flex-wrap: nowrap;
                    flex: 1;
                    flex-shrink: 0;
                    text-align: right;
                    @include font_color("fontColor1");
                    &.rate {
                        color: $up;
                    }
                }
            }
        }
    }
}
